.filmes .container{
    flex-direction: column;
    align-items: center;
}

.sug{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-bottom: 5vw;
    background-color: aquamarine;
    width: 50vw;
    padding: 3vw;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 6px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

