.chart{
    display: flex;
    justify-content: center;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    padding: 2vw;
    background-color: antiquewhite;
    border: solid black 4px;
}

.container{
    justify-content: center;
}

#myChart{
    width: 400px;
}
#myChart2{
    width: 400px;
}
#myChart3{
    width: 400px;
}
