.interior .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
}

.interior{
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.login h4{
    text-align: center;
}

.login input{
    border-radius: 10px;
    height: 25px;
    width: 12vw;
}

.login a{
    text-decoration: 0;
    text-align: center;
    margin: 0;
}